<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="admin">
	<select id="adminList" resultType="adminDTO">
		SELECT
			ADMIN_ID as adminId,
			PASS_WD as passwd,
			NAME,
			EMAIL,
			JOIN_DATE AS joinDate 
		FROM
			ADMIN 
		ORDER BY NAME	
	</select>
	
	<insert id="insertAdmin">
		INSERT INTO ADMIN (
			ADMIN_ID,
			PASS_WD,
			NAME,
			EMAIL
			)
			VALUES(
			#{adminId},
			#{passwd},
			#{name},
			#{email}
			)
	</insert>
	
	<select id="viewAdmin" resultType="adminDTO">
		SELECT
			ADMIN_ID as adminId,
			PASS_WD as passwd,
			NAME,
			EMAIL,
			JOIN_DATE AS joinDate 
		FROM
			ADMIN
			where ADMIN_ID = #{adminId}
	</select>
	
	<select id="adminCheckPw" resultType="int">
		SELECT
			COUNT(*)
		FROM
			ADMIN
			where ADMIN_ID = #{adminId}
			and PASS_WD = #{passwd}
	</select>
	
	<update id="updateAdmin">
		update ADMIN
		set PASS_WD = #{passwd}
		,NAME = #{name}
		,EMAIL = #{email}
		where ADMIN_ID = #{adminId}
	</update>
	
	<delete id="deleteAdmin">
		delete from ADMIN
		where ADMIN_ID = #{adminId}
	</delete>
	
	<select id="adminLoginCheck" resultType="String">
		SELECT
			NAME
		FROM
			ADMIN
			WHERE ADMIN_ID = #{adminId}
			AND PASS_WD = #{passwd}
	</select>
</mapper>














