<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="board">
	
	<resultMap id="getBoardListResult" type="HashMap"> 
		<result property="CONTENTS" column="CONTENTS" jdbcType="CLOB" javaType="java.lang.String" /> 
	</resultMap>
 
 	<sql id="search">
		<choose>
			<when test="searchOption != 'all' ">
				    AND ${searchOption} like '%' || #{keyword} || '%'		
			</when>
			<otherwise>
				<if test="keyword != ''">
				    AND (NAME like '%' || #{keyword} || '%' 
				        OR TITLE like '%' || #{keyword} || '%'
				        OR CONTENTS like '%' || #{keyword} || '%' )			
				</if>    	
			</otherwise>
		</choose>
	</sql>
	
	<select id="boardList" parameterType="hashmap" resultType="hashmap">
		 
		SELECT  A.* FROM(
			SELECT FOUND_ROWS() AS TOTAL_COUNT,
				 A.IDX,  A.TITLE, B.NAME,
				 A.HIT_CNT, A.CREAT_DTM FROM  
				 TB_BOARD A, MEMBER B  WHERE A.USER_ID = B.USER_ID
				 AND A.DEL_GB = 'N'  
				 ORDER BY  A.IDX DESC
			) A WHERE 1=1
		    <include refid="search" /> 
		LIMIT #{START}, #{END} 	
		 
	</select>
	
	<insert id="insertBoard" parameterType="hashmap">
		<![CDATA[
			INSERT INTO TB_BOARD
			(
			    TITLE, 
			    CONTENTS, 
			    HIT_CNT, 
			    DEL_GB, 
			    CREAT_DTM, 
			    USER_ID
			)
			VALUES
			(
			    #{TITLE}, 
			    #{CONTENTS}, 
			    0, 
			    'N', 
			    NOW(), 
			    #{userId}
			)
		]]>
	</insert>
	<update id="updateHitCnt" parameterType="hashmap">
		<![CDATA[
			UPDATE TB_BOARD 
			SET
				HIT_CNT = ifnull(HIT_CNT, 0) + 1
			WHERE
				IDX = #{IDX}	
		]]>
	</update>
	
	<select id="selectBoardDetail" parameterType="hashmap" resultMap="getBoardListResult">
		<![CDATA[
			SELECT
				IDX,
				HIT_CNT,
				USER_ID,
				CREAT_DTM,
				TITLE,
				CONTENTS
			FROM
				TB_BOARD
			WHERE
				IDX = #{IDX}
		]]>
	</select>
	<update id="updateBoard" parameterType="hashmap">
		<![CDATA[
			UPDATE TB_BOARD 
			SET
				TITLE = #{TITLE},
				CONTENTS = #{CONTENTS}
			WHERE
				IDX = #{IDX}	
		]]>
	</update>
	<update id="deleteBoard" parameterType="hashmap">
		<![CDATA[
			UPDATE TB_BOARD
			SET
				DEL_GB = 'Y'
			WHERE
				IDX = #{IDX}
		]]>
	</update>
	<insert id="insertFile" parameterType="hashmap">
		<![CDATA[
			INSERT INTO TB_FILE
			(
				BOARD_IDX,
				ORIGINAL_FILE_NAME,
				STORED_FILE_NAME,
				FILE_SIZE,
				CREAT_DTM
			)
			VALUES
			(
				#{BOARD_IDX},
				#{ORIGINAL_FILE_NAME},
				#{STORED_FILE_NAME},
				#{FILE_SIZE},
				NOW()
			)
		]]>
	</insert>
	<select id="selectFileList" parameterType="hashmap" resultType="hashmap">
		<![CDATA[
			SELECT
			    IDX,
			    ORIGINAL_FILE_NAME,
			    ROUND(FILE_SIZE/1024,1) AS FILE_SIZE
			FROM
			    TB_FILE
			WHERE
			    BOARD_IDX = #{IDX}
			    AND DEL_GB = 'N'
		]]>
	</select>
	<update id="deleteFileList" parameterType="hashmap">
		<![CDATA[
			UPDATE TB_FILE SET 
				DEL_GB = 'Y' 
			WHERE 
				BOARD_IDX = #{IDX}	
		]]>
	</update>
	<update id="updateFile" parameterType="hashmap">
		<![CDATA[
			UPDATE TB_FILE SET
				DEL_GB = 'N'
			WHERE
				IDX = #{FILE_IDX}	
		]]>
	</update>
	
	
</mapper>














